@inherits LayoutComponentBase
@*<div class="sidebar">
        <NavMenu />
    </div>*@

@*<div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>*@


<head>
    <!-- Css Styles -->
    <link rel="stylesheet" href="Custom/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="Custom/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="Custom/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="Custom/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="Custom/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="Custom/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="Custom/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="Custom/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="Custom/css/style.css" type="text/css">

    <style>

        html, body {
            margin: 0;
            width: 100vw;
            height: 100vh;
            overflow: scroll;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
        }

        canvas {
            background-color: lightblue;
            border: 1px solid black;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
        
<body>
    <Header/>

    @Body

    <Footer/>


</body>


