@{
    Layout = "~/Views/Shared/CustomerTemplate/_Layout.cshtml";
}

<div class="col-lg-4 product_col">
    <div class="product">
        <div class="product_image">
            <img src="~/img/product_1.jpg" alt="">
        </div>
        <div class="rating rating_4">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
        <div class="product_content clearfix">
            <div class="product_info">
                <div class="product_name"><a href="product.html">Woman's Long Dress</a></div>
                <div class="product_price">$45.00</div>
            </div>
            <div class="product_options">
                <div class="product_buy product_option"><img src="~/img/shopping-bag-white.svg" alt=""></div>
                <div class="product_fav product_option">+</div>
            </div>
        </div>
    </div>
</div>

<!-- Product -->
<div class="col-lg-4 product_col">
    <div class="product">
        <div class="product_image">
            <img src="~/img/product_2.jpg" alt="">
        </div>
        <div class="rating rating_4">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
        <div class="product_content clearfix">
            <div class="product_info">
                <div class="product_name"><a href="product.html">2 Piece Swimsuit</a></div>
                <div class="product_price">$35.00</div>
            </div>
            <div class="product_options">
                <div class="product_buy product_option"><img src="~/img/shopping-bag-white.svg" alt=""></div>
                <div class="product_fav product_option">+</div>
            </div>
        </div>
    </div>
</div>

<!-- Product -->
<div class="col-lg-4 product_col">
    <div class="product">
        <div class="product_image">
            <img src="~/img/product_3.jpg" alt="">
        </div>
        <div class="rating rating_4">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
        <div class="product_content clearfix">
            <div class="product_info">
                <div class="product_name"><a href="product.html">Man Blue Jacket</a></div>
                <div class="product_price">$145.00</div>
            </div>
            <div class="product_options">
                <div class="product_buy product_option"><img src="~/img/shopping-bag-white.svg" alt=""></div>
                <div class="product_fav product_option">+</div>
            </div>
        </div>
    </div>
</div>