@{
    ViewData["Title"] = "Create Category";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

@using MongoShop.Areas.Admin.ViewModels.Category;
@model CreateCategoryViewModel

<form asp-controller="Category" asp-area="Admin" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Category</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.Name)</label>
                        <input type="text" asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <div class="col-12">
                <a href="@Url.Action("Index", "Category")" class="btn btn-secondary">Back to list</a>
                <input type="submit" value="Create" class="btn btn-success float-right">
            </div>
        </div>
    </div>
</form>